@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
@mixin bg-cover {
    background-size: cover;
    background-position: center;
}
@mixin bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}