body{
  overflow-x: hidden;
}
a:hover{
  text-decoration: none;
}
ul{
  margin-bottom: 0px;
}
img{
  max-width: 100%;
}
.btn:focus, .btn.focus {
  box-shadow:0 0 0 0;
}
button:focus{
  outline: none;
}
p{
  margin-bottom: 0rem;
}